.containerAdm {
    margin-bottom: 15rem;
}

.adm {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.registerTrip {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.tripsAdm {
    width: 50%;
}

.tripsEdit {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 2px 30px 5px rgba(0, 0, 0, 0.13);
    gap: 5px;
}

.formTrips {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0px;
}

.formTrips form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 2px 30px 5px rgba(0, 0, 0, 0.13);
    padding: 20px;
}

.formTrips label {
    font-size: 1.3rem;
    font-weight: bold;
    color: #000000;
}

.formTrips input {
    border: none;
    border-radius: 5px;
    width: 70%;
    padding: 10px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    margin: 10px 0px;
    background-color: #89aad92a;
    color: #000000;
    box-shadow: 0px 0px 10px .5px rgba(0, 0, 0, 0.041);
}

.formTrips input[type="submit"] {
    width: 30%;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #5E9FF2;
    outline: none;
    text-transform: uppercase;
    transition: all ease-in-out .2s;
}

.formTrips input[type="submit"]:hover {
    cursor: pointer;
    background-color: #0455be;
}

@media(max-width: 840px) {
    .adm {
        flex-direction: column;
        align-items: center;
    }

    .registerTrip {
        width: 100%;
    }

    .registerTrip h2 {
        font-size: 1.3rem;
        margin-top: 0px;
    }

    .tripsAdm {
        width: 100%;
    }

    .formTrips form {
        width: 100%;
        align-items: center;
    }

    .formTrips input {
        width: 90%;
    }

    .formTrips input[type="submit"] {
        width: 40%;
    }

    .containerAdm h1 {
        font-size: 1.5rem;

    }
}

@media(max-width: 480px) {
    .registerTrip h2 {
        font-size: 1.1rem;
    }

    .containerAdm h1 {
        font-size: 1.3rem;
    }

    .adm {
        padding: 10px;
    }

    .formTrips label {
        font-size: 1.1rem;
    }

    .formTrips input[type="submit"] {
        font-size: 1rem;
        width: 95%;
    }

    .formTrips input {
        font-size: 1rem;
    }

    .tripsAdm h2 {
        font-size: 1.1rem;
        margin: 25px 0px;
    }
}

@media(max-width: 400px) {
    .containerAdm h1 {
        font-size: 1.2rem;
    }
}